* {
    margin: 0 auto;
    padding: 0 auto;
}

#login {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

#inputHolder {
    min-height: 50vh;
    width: 25%;
    border-radius: 15%;
    box-shadow: 5px 5px 5px 5px gray;
    display: flex;
    flex-direction: column;
}

.heading {
    width: 100%;
    margin-top: 10%;
    text-align: center;
}

h3 {
    margin: 10% 5% 0% 15%;
}

.input {
    border: none;
    border-bottom: solid 2px;
    width: 70%;
    height: 5vh;
    font-size: 14px;
}

.input:focus {
    outline: none;
}

#loginButton{
    width: 20%;
    height: 5vh;
    margin-top: 7%;
    border-radius: 10%;
    border: none;
    background-color: white;
    font-weight: bold;
    box-shadow: 2px 2px 2px 2px gray;
}

#loginButton:active{
    background-color: lightgrey;
    box-shadow: none;
}

#signupLink {
    width: 100%;
    margin: 10% 0 5% 0;
    text-align: center;
    font-size: 12px;
}

a:visited{
    color: blue;
}