* {
    margin: 0 auto;
    padding: 0 auto;
}

#signup {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

#inputHolder {
    min-height: 90vh;
    width: 35%;
    border-radius: 15%;
    box-shadow: 5px 5px 5px 5px gray;
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
}

.heading {
    width: 100%;
    margin-top: 5%;
    text-align: center;
}

h2 {
    margin: 4% 0% 0% 1%;
    font-size: 12px;
    height: fit-content;
}

h3 {
    margin: 5% 0% 0% 0%;
}

.inputHeader {
    width: 70%;
    display: flex;
    gap: 0;
}

.input {
    border: none;
    border-bottom: solid 2px;
    width: 70%;
    height: 5vh;
    font-size: 14px;
    margin-bottom: 0;
}

.input:focus {
    outline: none;
}

select {
    width: 70%;
    height: 5vh;
    outline: none;
    border: none;
    border-bottom: solid 2px;
}

select option {
    font-weight: bold;
}

ul {
    width: 70%;
}

ul li {
    margin-top: 2%;
    font-weight: bold;
}

#signupButton{
    width: 20%;
    height: 5vh;
    margin-top: 5%;
    border-radius: 10%;
    border: none;
    background-color: white;
    font-weight: bold;
    box-shadow: 2px 2px 2px 2px gray;
}

#signupButton:active{
    background-color: lightgrey;
    box-shadow: none;
}